{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_staff %}
        <div class="container content-section">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form|crispy }}
                    {{ form.media }}
                </div>
                <div class="form-group">
                    <button class="btn btncolor" type="submit">Saqlash</button>
                </div>
            </form>
        </div>
        <script>
            const titleInput = document.querySelector('input[name=title');
            const slugInput = document.querySelector('input[name=slug]');
            const start_t = document.querySelector('input[name=start_time]');
            const end_time = document.querySelector('input[name=end_time]');
            start_t.setAttribute('type', 'date');
            end_time.setAttribute('type', 'date');
            const slugify = (val) => {
                return val.toString().toLowerCase().trim()
                    .replace(/&/g, '-and-') // replacing & with '-and-'
                    .replace(/[\s\W-]+/g, '-') //replcaing spaces, non-word chars and dashes with a single '-'
            };
            
            titleInput.addEventListener('keyup', (e) => {
                slugInput.setAttribute('value', slugify(titleInput.value));
            });
        </script>
        {% else %}
            <h1>Mumkin emas</h1>
        {% endif %}
    {% else %}
        <h1>Ro'yxatdan o'ting</h1>
    {% endif %}
{% endblock content %}