{% extends 'base.html' %}
	<!-- END #fh5co-header -->
	{% block content %}
	<div class="container-fluid">
		<div class="row fh5co-post-entry">
			{% for data_detail in data %}
			<article style="height: 28rem;" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="{% url 'detail' data_detail.slug %}"><img style="width:100%; height: 24rem;" src={{ data_detail.image.url }} alt="Image" class="shadow img-responsive rounded-3"></a>
				</figure>
				<h3 class="fh5co-article-title"><a href="{% url 'detail' data_detail.slug %}">{{ data_detail.title|truncatewords:3 }}</a></h3>
				<a class="btn btn-primary" href="{% url 'detail' data_detail.slug %}">
                    Ko'rish
                </a>
			</article>
			{% endfor %}
		</div>
	</div>

	<script>
		const myModal = document.getElementById('myModal')
		const myInput = document.getElementById('myInput')
	
		myModal.addEventListener('shown.bs.modal', () => {
		myInput.focus()
		})
	</script>
	{% endblock content %}