{% extends 'base.html' %}
	<!-- END #fh5co-header -->
	{% block content %}
	<div class="container-fluid">
		<div class="row fh5co-post-entry">
			{% for data_detail in data %}
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="{% url 'detail' data_detail.slug %}"><img style="width:100%; height: 18rem;" src={{ data_detail.image.url }} alt="Image" class="shadow img-responsive rounded-3"></a>
				</figure>
				<h2 class="fh5co-article-title"><a href="{% url 'detail' data_detail.slug %}">{{ data_detail.title|truncatewords:3 }}</a></h2>
				{% now "d.m.Y" as current_time %}
					{% if current_time >= data_detail.start_time|date:"d.m.Y" and current_time < data_detail.end_time|date:"d.m.Y" %}
                        <a href="{% url 'edit' data_detail.slug %}" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ data_detail.id }}">
                            Tahrirlash
                        </a>
						
                    {% else %}
                    	<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop2{{ data_detail.id }}">
                        	Tahrirlab bo'lmaydi
                        </button>
                        <a href="{% url 'detail' data_detail.slug %}">
                            Ko'rish
                        </a>
                    {% endif %}
					
			</article>
			{% endfor %}
		</div>
	</div>
	<script>
		const myModal = document.getElementById('myModal')
		const myInput = document.getElementById('myInput')
	
		myModal.addEventListener('shown.bs.modal', () => {
		myInput.focus()
		})
	</script>
	{% endblock content %}